name: CI

on: [push] # git push をトリガーとする

env:
  DEVELOPER_DIR: /Applications/Xcode_13.1.app/Contents/Developer

jobs:
  build:
    runs-on: macos-11
      
    steps:
    # ソースコードを取得する
    - uses: actions/checkout@v1
    
    # Ruby製のライブラリをインストールする
#    - name: Bundle install
#      run: bundle config path vendor/bundle
#           bundle install --without=documentation --jobs 4 --retry 3

    - name: Build # シミュレーター向けにビルド
      run: xcodebuild -sdk iphonesimulator -configuration Debug build
      
    # ビルドする
    - name: Xcode build
      run: xcodebuild
        -sdk iphonesimulator
        -configuration Debug
        build
        | bundle exec xcpretty
        
    # テストする
    - name: Xcode test
      run: set -o pipefail &&
        xcodebuild
        -sdk iphonesimulator
        -configuration Debug
        -workspace univIP.xcworkspace
        -scheme univIP
        -destination 'platform=iOS Simulator,name=iPhone 11 Pro Max'
        -skip-testing:univIPUITests
        clean test
        | bundle exec xcpretty --report html
        


  info:
    runs-on: macos-11

    steps:
    # チェックアウト
    - uses: actions/checkout@v2

    # Xcodeの一覧出力
    - name: Show Xcode list
      run: ls /Applications | grep 'Xcode'

    # Xcodeのバージョン出力
    - name: Show Xcode version
      run: xcodebuild -version

    # Makeのバージョン出力
    - name: Show Make version
      run: make --version

    # Rubyのバージョン出力
    - name: Show Ruby version
      run: ruby --version

    # Bundlerのバージョン出力
    - name: Show Bundler version
      run: bundle version

    # 端末の一覧出力
    - name: Show devices
      run: xcrun xctrace list devices
